body {
    font-family: Arial, sans-serif;
    background: url('assets/images/background/pokemon_background.png') no-repeat center center fixed; /* Use the image as the background */
    background-size: cover; /* Ensure the background covers the entire screen */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
    overflow: hidden;
  }
  
  #game {
    background-color: rgba(255, 255, 255, 0.8); /* Add some transparency to make the background visible */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    position: relative;
    z-index: 10;
  }
  
  #board {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20px, 1fr));
    gap: 5px;
  }
  
  #board div {
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 20px;
  }
  
  .correct {
    background-color: green;
  }
  
  .present {
    background-color: yellow;
  }
  
  .absent {
    background-color: gray;
  }
  
  #hint {
    margin-top: 20px;
  }
  
  .pokemon-animation {
    position: absolute;
    width: 100px;
    height: 100px;
    background-size: cover;
  }
  
  /* Specific Pokémon animations */
  .pokemon1 {
    background-image: url('assets/images/animations/gengar.gif');
    top: 87%;
    left: 15%;
    width: 50px;
    height: 50px;
  }
  
  .pokemon2 {
    background-image: url('assets/images/animations/pokemons.gif');
    top: 81%;
    left: 50%;
  }
  
  .pokemon3 {
    background-image: url('assets/images/animations/pikachu.gif');
    top: 87%;
    left: 90%;
    width: 50px;
    height: 50px;
  }